<div>
    <form>
        <div style="width: 30%;">
            <mat-form-field class="example-full-width" appearance="fill">
             <mat-label>Email:</mat-label>
            <input matInput type="text" name="email" id="email" placeholder="Email" >   
            </mat-form-field>
        </div>
        <div style="width: 30%;">
            <mat-form-field appearance="fill">
             <mat-label>Contraseña:</mat-label>
            <input matInput type="text" name="password" id="password" placeholder="Contraseña" >   
            </mat-form-field>
        </div>
    </form>
</div>
<button mat-stroked-button color="primary" type="submit" style="align-self: center; display:flex">Entrar</button>