<div class="container">
    <div class="col" style="text-align: center;"><h1>{{titulo}}</h1></div>
    <br><br>
    <form class="form-group row">
        <mat-grid-list cols="4" rowHeight="60">
            <mat-grid-tile><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre:</mat-label>
                <input matInput type="text" name="nombre" id="nombre" placeholder="Introduzca su nombre"  [(ngModel)]="nombreVar" >
            </mat-form-field></mat-grid-tile>
            <mat-grid-tile><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Apellido:</mat-label>
                <input matInput type="text" name="apellido" id="apellido" placeholder="Introduzca su apellido"  [(ngModel)]="apellidoVar" >
            </mat-form-field></mat-grid-tile>
            <mat-grid-tile><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Cargo:</mat-label>
                <input matInput type="text" name="cargo" id="cargo" placeholder="Introduzca su cargo"  [(ngModel)]="cargoVar" >
            </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Salario:</mat-label>
                <input matInput type="number" name="salario" id="salario" placeholder="Introduzca su salario"  [(ngModel)]="salarioVar" >
            </mat-form-field></mat-grid-tile>
        </mat-grid-list>
        <mat-label>Foto:</mat-label>
        <input mat-input type="file" name="foto" id="foto" placeholder="foto"  [(ngModel)]="salarioVar" >
    </form>
    <button mat-stroked-button color="primary" type="submit" style="align-self: center; display:flex" (click)="agregarEmp()">Primary</button>
</div>
<div style="display: flex;
justify-content: center;
align-items: center; width: 100%; margin-top: 20px;">
 <mat-card>
    <mat-card-header>
        <mat-card-title>Empleados</mat-card-title>
        <mat-card-subtitle>Lista de empleados</mat-card-subtitle>
      </mat-card-header>
    <mat-grid-list cols="3" rowHeight="150">
        <mat-grid-tile *ngFor="let emp of empleados"><mat-card >
            <mat-card-header>
                <mat-card-title>{{emp.nombre}} 
                {{emp.apellido}}
                <mat-card-subtitle>{{emp.cargo}}</mat-card-subtitle>
                </mat-card-title></mat-card-header> 
                Cargo: <span [ngStyle]="{color: emp.cargo=='director'? 'red':'black'}">{{emp.cargo}}</span><br>
                Salario: {{emp.salario}}<br>
    </mat-card></mat-grid-tile>
    </mat-grid-list>
</mat-card>   
</div>
