<header>
    <button mat-button [matMenuTriggerFor]="menu" style="margin-top: 10px; margin-bottom: 10px;">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="">Home</button>
        <button mat-menu-item routerLink="/proyectos">Item 2</button>
        <button mat-menu-item routerLink="/nosotros">Item 2</button>
        <button mat-menu-item routerLink="/contactenos">Item 2</button>
     </mat-menu>

        <button mat-button style="margin-top: 10px; margin-bottom: 10px; float: right;" *ngIf="!estaLogueado" routerLink="/login">Login</button>
        <button mat-button style="margin-top: 10px; margin-bottom: 10px; float: right;" *ngIf="estaLogueado" (click)="logout">Logout</button>

</header>

<router-outlet></router-outlet>