<div style="display: flex;
justify-content: center;
align-items: center; width: 100%; margin-top: 20px;">
 <div style="width: 100%; box-shadow: 0px 0px 2px 0px; margin: 10px;">
    <div class="centerContent" style="width: 100%; margin-top: 6px;">
        <h1 style="width: 100%; text-justify: center; text-align: center;">Empleados</h1>
        <h3>Lista de empleados</h3>
    </div>
    <div style="box-shadow: 0px 0px 2px 0px; margin: 10px; height: 500px;
    overflow: auto;">
    <mat-grid-list cols="3" rowHeight="400px" style="overflow: auto;">
        <mat-grid-tile *ngFor="let emp of empleados"><mat-card>
            <mat-card-header>
                <mat-card-title>{{emp.nombre}} 
                {{emp.apellido}}
                <mat-card-subtitle>{{emp.cargo}}</mat-card-subtitle>
                </mat-card-title></mat-card-header> 
                Cargo: <span [ngStyle]="{color: emp.cargo=='director'? 'red':'black'}">{{emp.cargo}}</span><br>
                Salario: {{emp.salario}}<br>
                <div class="borderStyle centerContent">
                    <mat-card *ngFor="let cara of arrayCarc" style="margin-bottom: 5px;">
                        <mat-card-content>
                            {{cara}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <app-caracteristicas-empleados (caracteristicas)="agregarCarac($event)"></app-caracteristicas-empleados>
    </mat-card></mat-grid-tile>
    </mat-grid-list>
    </div>
</div>   
</div>