<div style="display: flex;
justify-content: center;
align-items: center; width: 100%; margin-top: 20px;">
 <div style="width: 100%;">
    <h1>Empleados</h1>
        <h3>Lista de empleados</h3>
    <mat-grid-list cols="3" rowHeight="300px">
        <mat-grid-tile *ngFor="let emp of empleados"><mat-card style="overflow: scroll;">
            <mat-card-header>
                <mat-card-title>{{emp.nombre}} 
                {{emp.apellido}}
                <mat-card-subtitle>{{emp.cargo}}</mat-card-subtitle>
                </mat-card-title></mat-card-header> 
                Cargo: <span [ngStyle]="{color: emp.cargo=='director'? 'red':'black'}">{{emp.cargo}}</span><br>
                Salario: {{emp.salario}}<br>
                <ul>
                    <li *ngFor="let cara of arrayCarc">{{cara}}</li>
                </ul>
                <app-caracteristicas-empleados (caracteristicas)="agregarCarac($event)"></app-caracteristicas-empleados>
    </mat-card></mat-grid-tile>
    </mat-grid-list>
</div>   
</div>